.meal-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    overflow: hidden;
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
    -moz-column-gap: 0.5em;
    -webkit-column-gap: 0.5em;
    column-gap: 0.5em;
    max-width: 600px;
    row-gap: 1em;
    -moz-row-gap: 1em;
    -webkit-row-gap: 1em;
    margin-left: 1em ;
}

.meal {
    aspect-ratio: 1 / 1;
    width: calc(100% - 10px);
}

@media (max-width: 768px) {
   .meal-container {
    max-width: 85%;
   }

}