h1 {
    font-size: 1.5em;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    display: block;
}

.auth {
    padding-top: 3rem;
}

.info {
    display: flex;
    gap: 1rem;
    justify-content: center;
    padding-bottom: 15px;
}