@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sigmar&display=swap');

#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    min-width: 768px;
}

.base {
    width: 55vh;
    height: 80vh;
    background: linear-gradient(90deg, #d2d8d9, #d2d8d9, #f1f1f1, #d2d8d9);
    border-radius: 10px;
    overflow: hidden;
    position: absolute;
    top: 110px;
    left: 50%;
    transform: translateX(-50%);
}


.handle {
    width: 2vh;
    height: 20vh;
    background-color: #8a8a8a;
    position: absolute;
    top: 50%;
    right: 5vh;
    transform: translateY(-50%);
}

.linktext {
    padding-top: 15px;
    width: 75%;
    margin-left: 15px;
    font-size: 1em;
}

.fixed-button {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    width: auto; 
    padding: 0.8rem 1.5rem;
    background-color: #102693;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
    color: white;
}

.fixed-button:hover {
    background-color: #4763EB;
}


@media (max-width: 768px) {
    #root {
            padding: 0;
            margin: 0;
            min-width: 100%;
            height: 100vh;
        }
    
        .base {
            margin-top: 60px;
            min-width: 100%;
            height: calc(100vh - 60px);

            border-radius: 0px;
        }
    
        .linktext {
            font-size: 0.8em;
            margin-left: 10px;
        }
    
        .formlink {
            width: 30vw;
            height: 30vw;
            bottom: 0;
            right: 0;
        }

}